<li>
<div class="story-index">
  <ul class="single-story">
    <li class="single-story-image"><%= link_to (image_tag story.user.image.thumb.url) %></li>
    <li class="strong"><%= story.user.username %></li>
    <li><%= story.title %></li>
    <li><% story.categories.each do |category| %>
        <%= category.name %>
        <% end %></li>
    <button class="amuse"><%= link_to 'Amuse Me', story %></button>
  </ul>
  </div>
</li>