<h1>The Archive</h1>

<ul class="small-block-grid-1 medium-8 medium-centered columns">

  <% @stories.each do |story| %>
  <li>
  <ul class="single-story">
      <li><%= story.user.username %>; <%= story.user.tagline %></li>
      <li><%= story.title %></li>
      <li><%= story.content %></li>

      <li><%= link_to 'Show', story %></li>

    </ul>
  </li>
  <% end %>
</ul>

<% if current_user %>
<%= link_to 'New AnecJoke', new_story_path %>
<% end %>
