<div class="row">

<p id="notice"><%= notice %></p>
<div class="small-4 columns show-single-story">
<%= image_tag @story.user.image_url, class: "user-show-image" %>
</div>
<div class=class="small-8 columns show-single-story">
<ul>
     <li>
    <strong>User:</strong>
    <%= @story.user.username %>
  </li>
  <li>
    <strong>Title:</strong>
    <%= @story.title %>
  </li>
  <li>
    <strong>Content:</strong>
    <%= @story.content %>
  </li>
  <li>
    <strong>Category</strong>
  </li>

  <li><% @story.categories.each do |category| %>
    
      <%= category.name %>
  <% end %></li>
  <li>
    <strong>Location</strong>
  </li>
  <% @story.locations.each do |location| %>
    <li>
      <%= location.name %>
    </li>
  <% end %>
  <li>
    <strong><%= @story.get_upvotes.size %> fellows applauding</strong>
  </li>

  <li>
    <ul class="emoji-votes">
      <li>
        <%= link_to "Like", like_story_path(@story, vote_scope: "applaud"), method: :put %>
      </li>
      <li><%= link_to "fresh", like_story_path(@story, vote_scope: "fresh"), method: :put %>
      <li><%= link_to "lol", like_story_path(@story, vote_scope: "lol"), method: :put %>
      <li><%= link_to "omg", like_story_path(@story, vote_scope: "omg"), method: :put %>
      <li><%= link_to "cute", like_story_path(@story, vote_scope: "cute"), method: :put %>
      <li><%= link_to "win", like_story_path(@story, vote_scope: "win"), method: :put %>
      <li><%= link_to "fail", like_story_path(@story, vote_scope: "fail"), method: :put %>
      <li><%= link_to "wtf", like_story_path(@story, vote_scope: "wtf"), method: :put %>
      <li><%= link_to "popular", like_story_path(@story, vote_scope: "popular"), method: :put %>
    </ul>
  </li>
</ul>
</div>

<%= render partial: 'comments/form', locals: { commentable: @story } %>
<%= render partial: 'comments/comment', collection: @comments, locals: { commentable: @story } %>



<% if current_user %>
  <% if current_user.id == @story.user.id %>
  <%= link_to 'Edit', edit_story_path(@story) %> |
  <%= link_to 'Destroy', @story, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <% end %>
<% end %>
<%= link_to 'Back', stories_path %>

</div>


