<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<ul>
  <% @category.stories.each do |story| %>
  <li>
    <ul>
      <li><%= story.title %></li>
      <li><%= story.content %></li>
    </ul>
  </li>
  <% end %>
</ul>

<% if current_user %>
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Destroy', @category, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', categories_path %>

