<div class="row">
<h1>Listing Lolcations</h1>

<table class="locations-table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <div id="mapIndex"></div>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOMfikVQx8Z0_BR3gFrP2RoQz9QD7Krvk&callback=initMap">
  </script>

  <tbody>
    <% @locations.each do |location| %>
    <tr>
      <td><%= location.name %></td>
      <td><%= link_to 'Show', location %></td>
      <td><%= link_to 'Edit', edit_location_path(location) %></td>
      <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% if location.latitude? && location.longitude? %>
    <script type="text/javascript">
      var latLng = {lat: <%= location.latitude %>, lng: <%= location.longitude%>}
      function markMarkers(){
        marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title: 'Hello World!',
          icon: "http://i.imgur.com/d9296D8.png"
        });
      }
      markMarkers()
    </script>

    <% end %>

    <% end %>
  </tbody>
</table>

<br>

<% if current_user %>
<%= link_to 'New Location', new_location_path %>
<% end %>

</div>
